<section class="py-5 contact-sec text-center">
  <h2 class="fs-1 fw-light mb-5">WE CAN HELP BUILD YOUR PROJECT!</h2>
  <p class="fs-4 fw-lighter mb-5">TELL US ABOUT YOUR PROJECT</p>
  <div class="d-flex justify-content-center">
    <button class="px-4 py-3 projects-btn border-0" routerLink="/contact">Contact Us <i class="fa-regular fa-envelope px-1"></i></button>
  </div>
</section>
<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 py-2 px-4 footer-item">
        <h2 class="pb-5 fs-6 fw-bolder text-white">
          ADDRESS
        </h2>
        <P class="fs-3 fw-light">42 Morningview Lane New York, NY 1001</P>
      </div>
      <div class="col-md-3 py-2 px-4 footer-item">
        <h2 class="pb-5 fs-6 fw-bolder text-white">
          PHONE
        </h2>
        <P class="fs-3 fw-light"><a class="text-decoration-none" href="tel:+201004652340">+20 100 465 2340</a></P>
      </div>
      <div class="col-md-3 py-2 px-4 footer-item">
        <h2 class="pb-5 fs-6 fw-bolder text-white">
          EMAIL
        </h2>
        <P class="fs-3 fw-light"><a class="text-decoration-none" href="mailto:info@benaahadees.com">info@benaahadees.com</a></P>
      </div>
      <div class="col-md-3 py-2 px-4 footer-item">
        <h2 class="pb-5 fs-6 fw-bolder text-white">
          FOLLOW US
        </h2>
        <P class="fs-3 fw-light">
          <span class="px-2"><i class="fa-brands fa-square-facebook"></i></span>
          <span class="px-2"><i class="fa-solid fa-square-envelope"></i></span>
          <span class="px-2"><i class="fa-brands fa-square-whatsapp"></i></span>
        </P>
      </div>
    </div>
  </div>
</footer>
