<section class="head-sec">
  <div class="layer">
    <div class="container head-sec-content">
      <h1 class="fw-normal text-white">{{"services.head" | translate | uppercase}}</h1>
      <P class="fs-4">{{"services.p" | translate | uppercase}}</P>
    </div>
  </div>
</section>
<section class="container">
  <div class="row ">
    <div class="col-md-6 p-4">
      <div class="service">
        <div class="d-flex justify-content-center">
          <span class="service-icon d-flex justify-content-center align-items-center rounded-circle fs-1"><i class="fa-solid fa-screwdriver"></i></span>
        </div>
        <h2 class="text-center fw-lighter fs-1 pt-5 pb-3">service name</h2>
        <p class="pb-5">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
        </p>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <div class="service">
        <div class="d-flex justify-content-center">
          <span class="service-icon d-flex justify-content-center align-items-center rounded-circle fs-1"><i class="fa-solid fa-screwdriver"></i></span>
        </div>
        <h2 class="text-center fw-lighter fs-1 pt-5 pb-3">service name</h2>
        <p class="pb-5">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
        </p>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <div class="service">
        <div class="d-flex justify-content-center">
          <span class="service-icon d-flex justify-content-center align-items-center rounded-circle fs-1"><i class="fa-solid fa-screwdriver"></i></span>
        </div>
        <h2 class="text-center fw-lighter fs-1 pt-5 pb-3">service name</h2>
        <p class="pb-5">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
        </p>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <div class="service">
        <div class="d-flex justify-content-center">
          <span class="service-icon d-flex justify-content-center align-items-center rounded-circle fs-1"><i class="fa-solid fa-screwdriver"></i></span>
        </div>
        <h2 class="text-center fw-lighter fs-1 pt-5 pb-3">service name</h2>
        <p class="pb-5">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
        </p>
      </div>
    </div>
  </div>
</section>
